/* Google fonts
font-family: 'Dosis', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* FORMAT DOCUMENT MAIN FONT */
* {
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* FOR ANY COPY THAT NEEDS 2NDARY FONT */
.sourceSans {
    font-family: 'Source Sans Pro', sans-serif;
}

/* -------------------------COPY STYLING---------------------- */

.lightBlue {
    color: #E5FEFF;
    font-size: 16px;
    letter-spacing: 0px;
}

.textCenter {
    text-align: center;
}

.icons {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.slogan {
    font-size: 16px;
    color: #E5FEFF;
}

.form-group {
    margin-bottom: 25px;
}

.startingAt {
    color: #1F51A8;
    font-size: 16px;
}

.white {
    color: white;
}


/* TEXT HIERARCHY TAGS */

h1 {
    font-weight: 400;
    font-size: 45px;
    color: #E5FEFF;
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
}

h3 {
    font-family: 'Dosis', sans-serif;
}

h4 {
    font-size: 16px;
    color: #E5FEFF;
}

h5 {
    font-size: 25px;
    color: #1A1B26;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
}

p {
    line-height: 20px;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 35px;
    list-style-position: outside;
    letter-spacing: -.5px;
}

/* START MEDIA QUERIES */

/* // XS (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .roomsBG {
        padding-bottom: 50px;
    }
    .availPad {
        padding-top: 29px;
        /* padding-right: 0px;
        padding-left: 0px; */
        /* might want to leave the padding off so the button is smaller than the forms */
    }
    .amenitiesBG {
        padding-bottom: 45px;
    }
    .blueOverlayHead {
        background-color: #000324;
        opacity: 80%;
        color: white;
        text-align: center;
        padding: 55px 5px;
        width: 70%;
    }
    h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        color: #E5FEFF;
        padding-top: 10px;
    }

    .form-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
        padding: 5px;
    }
    /* h3 {
        font-weight: lighter;
        font-size: 25px;
        padding-top: 11px;
    } */
    .startingAt {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .iconsTextPad {
        padding-bottom: 20px;
    }
    /* .icons {
        height: 135px;
    } */
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .header {
        background-color: #000324;
        color: white;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    .roomsBG {
        padding-bottom: 60px;
    }
    .availPad {
        padding-top: 29px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .amenitiesBG {
        padding-bottom: 45px;
    }
    .blueOverlayHead {
        background-color: #000324;
        opacity: 80%;
        color: white;
        text-align: center;
        padding: 50px;
        width: 70%;
        max-width: 945px;
        min-height: 232px;
    }
    h3 {
        font-weight: lighter;
        font-size: 25px;
        padding-top: 11px;
    }
    .pkgPadding {
        padding-right: 0px;
        padding-left: 0px;
    }
    .iconsTextPad {
        padding-top: 10px;
        padding-bottom: 50px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .header {
        background-color: #000324;
        color: white;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 11px;
    }
    .amenitiesBG {
        padding-top: 0px;
        padding-bottom: 45px;
    }
    .roomsBG {
        padding-bottom: 75px;
    }
    .availPad {
        padding-top: 29px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .pkgPadding {
        padding-right: 7px;
        padding-left: 7px
    }
    h3 {
        padding-top: 15px;
    }
    .icons {
        height: 115px;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .header {
        background-color: #000324;
        color: white;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 42px;
    }
    .reservePad {
        padding-top: 36px;
    }
    .amenitiesBG {
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .roomsBG {
        padding-bottom: 85px;
    }
    .availPad {
        padding-top: 29px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .btn-primary {
        margin-top: 3px;
        padding: 9px 40px;
        letter-spacing: .15px;
        font-size: 20px;
    }
    .startingAt {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    h3 {
        padding-top: 20px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .header {
        background-color: #000324;
        color: white;
        padding: 5%;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 49px;
    }
    .amenitiesBG {
        padding-top: 45px;
        padding-bottom: 40px;
    }
    .btn-primary {
        margin-top: 3px;
        padding: 9px 40px;
        font-size: 20px;
        letter-spacing: .25px;
    }
}


/* NAVIGATION BAR */
.navigationBar {
    background-color: #000324;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.navSize {
    font-size: 20px;
    letter-spacing: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}

.navBtnPadding {
    padding: 0px 20px;
}

.nav-link {
    display: block;
    padding: .5rem .1rem;
    text-align: center;
    color: white;

}

.nav-link:hover {
    border-top: #fff;
    border-top: solid 2px;
    color: #fff;
    background-color: #282b47;
}

/* FOOTER */

.footer {
    background-color: #000324;
    color: white;
    line-height: 50px;
    padding-top: 24px;
}

.footerText {
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    padding-bottom: 10%;
}

/* BACKGROUND IMAGES/COLORS/SIZES */

.roomsBG {
    background-image: url("../Images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 31px;
}

.amenitiesBG {
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imageHome {
    height: 416px;
}

.formBG {
    background-color: #000324;
}

/* CARDS */
.cardMarg {
    margin: 7px;
}

.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.roomInfo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn {
    border-radius: 0;
}

.iconsTextPad {
    padding-bottom: 0px;
}

/* -------------------------PADDING/POSITIONING TWEAKS---------------------- */

.verticalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    padding: 5px;
}

/* slight tweaks to padding */
.row {

    margin-right: 0px;
    margin-left: 0px
}

/* minor tweaks to padding for this section */
.rowReserve {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

/* -------------------------FORMS/BUTTONS---------------------- */

.btn-avail {
    margin-top: 3px;
    padding: 4px 0px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .25px;
    color: #fff;
    background-color: #006EDB;
    border-color: #000DC7;
    border-width: 1px;
}

.btn-avail:hover {
    color: #fff;
    background-color: #02468f;
    border-color: #0062cc
}

.btn-primary {
    color: #fff;
    background-color: #004CC7;
    border-color: #004CC7;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 20px; */
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #EBEDFC;
    background-clip: padding-box;
    border: 1px solid #7A90D9;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.buttonHighlight {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 80px;
}


/* -------------------------IMAGE SIZE---------------------- */

.mainHero {
    height: 500px;
    background-image: url("../Images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* FOR IMAGES TO TAKE FULL-WIDTH OF CONTAINER */
.fitCover {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

/* PACKAGES IMG HEIGHTS */
.height234 {
    height: 234px;
}

/* FOR CARD IMAGES */
.cardImgHeight {
    height: 190px;
    object-fit: cover;
}

.reserveImg {
    height: 414px;
}